.chatWindow {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}

/* NAVBAR */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar span {
  margin: 1rem 2rem;
}

.userIconDiv {
  margin: 1rem 2rem;
  cursor: pointer;
}

.userIcon {
  background-color: #339cff;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* INPUT SECTION */
.chatInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.inputBox {
  width: 100%;
  max-width: 700px;
  position: relative;
  display: flex;
  align-items: center;
}

.inputBox input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--text-color);
  padding: 18px 45px 18px 18px;
  font-size: 0.9rem;
  border-radius: 14px;
  outline: none;
}

/* submit button */
#submit {
  position: absolute;
  right: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--text-color);
}

#submit i:hover {
  color: var(--accent);
}

/* INFO */
.info {
  font-size: 0.8rem;
  color: gray;
  margin-top: 8px;
}

/* DROPDOWN */
.dropDown {
  position: absolute;
  top: 4rem;
  right: 4rem;
  width: 150px;
  background-color: var(--sidebar-bg);
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  text-align: left;
  z-index: 1000;
}

.dropDownItem {
  font-size: 0.9rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 6px;
}

.dropDownItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}